@font-face {
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-family: Roboto;
}

/*General*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: grey;
}

/*Fin General*/

/*Titre*/

#title {
    text-align: center;
}

h1 {
    margin: 0;
    padding: .5%;
    font-size: 32px;
}

/*Fin Titre*/

/*Slider*/

#slider {
    display: flex;
    justify-content: center;
    position: relative;
}

#slider>div#overlay>ul {
    list-style: none;
    display: flex;
    padding: 0;
}

#slider>div#overlay>ul>li.slider-items,
#slider>div#overlay>ul>li.slider-items>img {
    height: 350px;
    width: 500px;
}

#slider>div#overlay {
    position: relative;
}

#slider>div#overlay>i {
    position: absolute;
    padding: 20px 5px 20px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 2em;
}

#slider>div#overlay>i.la-angle-left {
    left: 0;
    border-radius: 0 75px 75px 0;
    color: white;
}

#slider>div#overlay>i.la-angle-right {
    right: 0;
    border-radius: 75px 0 0 75px;
    color: white;
}

.middle-items {
    top: 50%;
    transform: translateY(-50%)
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
    width: 500px;
    height: 500px;;
}

#slider>i.btn {
    position: absolute;
    display: flex;
    bottom: 0;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 24px;
    background-color: red;
}
/*Fin Slider*/

.booking {
    display: flex;
    flex-direction: column;
}

#mapid {
    height: 300px;
    width: 100%;
}

div#modal {
    z-index: 99;
    height: 300px;
    padding-left: 20px;
}

div#modal>form>h1 {
    padding: 0;
}

canvas {
    z-index: 100;
    border: 1px solid black;
    background-color: white;
    margin: 0;
}